.card {
    width: 190px;
    margin-bottom: 50px;  

    .img-box {
        position: relative;
        cursor: pointer;        

        img {
            display: block;
            position: relative;
            height: 190px;
            width: 100%;
            margin-bottom: 10px;
            object-fit: cover;
            object-position: top;                
        }

        &::after {
            @include absolute-center;
            content: '';
            height: 100%;
            width: 100%;
            background-color: scale-color($mainColor, $alpha: -30%);
            transition: .2s;
            opacity: 0;               
        }

        &:hover::after {
            opacity: 1;      
        }
    }

    p {
        color: $textColor;
        text-transform: uppercase;
    }
}