@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

@import '_variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {    
    font-family: $altFont, sans-serif;
}